<% if user_signed_in? %>
<%= render 'layouts/navbar1' %>
<% else %>
<%= render 'layouts/navbar' %>
<%end%>

<div>
    <div>
        <br/>
    
        <h3> What is Swapr.? </h3>
    
        <p>
        Swapr. is a platform whereby users are able to reduce their carbon footprint simply by exchanging their used goods with other users. It gives their pre-loved items a new lease of life with a different owner instead of having them disposed of. Furthermore, we ensure that the owners are not left empty-handed. Over here in Swapr., we believe in a one-for-one policy. This is to ensure that fairness in practiced in all the exchanges. The trades made over here are fully disclosed between the users making the exchange. 
        </p>

        <h3> Why use Swapr.? </h3>
        <p>
        Mother Earth as we know it is slowly depreciating. With consumerism at a spike like never before, we could all reduce the effects on Gaia by incorporating eco-friendly habits into our daily lives. The emission of greenhouse gases from manufacturing the vast amount of goods is harming our ozone layer and our improper disposal methods are hurting our flora and fauna. Not only do we allow users to make trades, we also allow them to share their tips on sustaining Mother Nature. In this free-for-all platform, users are allowed to post their new concepts and share their progress with other users as well.
        </p>

        <h3> Who uses Swapr.? </h3>
        <p>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed efficitur, lectus nec auctor cursus, sem felis pretium velit, quis faucibus nibh sem a velit. Quisque quis mattis sem, sed commodo purus. Quisque gravida iaculis viverra. Nunc urna diam, laoreet ac rutrum a, lobortis vel nisi. Morbi consequat ante consectetur lacus pharetra, ut porta orci suscipit. Suspendisse imperdiet sem tincidunt dolor interdum iaculis. Ut consectetur in mi ut elementum. Maecenas dictum sodales pulvinar. In feugiat eleifend augue vel lobortis. Aliquam rutrum magna eget massa lacinia ultrices. Pellentesque scelerisque augue ex, vitae ornare orci dictum et. Nam iaculis vel nisl et scelerisque.
        </p>

        <h3> When do I use Swapr.? </h3>
        <p>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed efficitur, lectus nec auctor cursus, sem felis pretium velit, quis faucibus nibh sem a velit. Quisque quis mattis sem, sed commodo purus. Quisque gravida iaculis viverra. Nunc urna diam, laoreet ac rutrum a, lobortis vel nisi. Morbi consequat ante consectetur lacus pharetra, ut porta orci suscipit. Suspendisse imperdiet sem tincidunt dolor interdum iaculis. Ut consectetur in mi ut elementum. Maecenas dictum sodales pulvinar. In feugiat eleifend augue vel lobortis. Aliquam rutrum magna eget massa lacinia ultrices. Pellentesque scelerisque augue ex, vitae ornare orci dictum et. Nam iaculis vel nisl et scelerisque.
        </p>

        <h3> Where can I use Swapr.? </h3>
        <p>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed efficitur, lectus nec auctor cursus, sem felis pretium velit, quis faucibus nibh sem a velit. Quisque quis mattis sem, sed commodo purus. Quisque gravida iaculis viverra. Nunc urna diam, laoreet ac rutrum a, lobortis vel nisi. Morbi consequat ante consectetur lacus pharetra, ut porta orci suscipit. Suspendisse imperdiet sem tincidunt dolor interdum iaculis. Ut consectetur in mi ut elementum. Maecenas dictum sodales pulvinar. In feugiat eleifend augue vel lobortis. Aliquam rutrum magna eget massa lacinia ultrices. Pellentesque scelerisque augue ex, vitae ornare orci dictum et. Nam iaculis vel nisl et scelerisque.
        </p>

        <h3> How do I use Swapr.? </h3>
        <p>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed efficitur, lectus nec auctor cursus, sem felis pretium velit, quis faucibus nibh sem a velit. Quisque quis mattis sem, sed commodo purus. Quisque gravida iaculis viverra. Nunc urna diam, laoreet ac rutrum a, lobortis vel nisi. Morbi consequat ante consectetur lacus pharetra, ut porta orci suscipit. Suspendisse imperdiet sem tincidunt dolor interdum iaculis. Ut consectetur in mi ut elementum. Maecenas dictum sodales pulvinar. In feugiat eleifend augue vel lobortis. Aliquam rutrum magna eget massa lacinia ultrices. Pellentesque scelerisque augue ex, vitae ornare orci dictum et. Nam iaculis vel nisl et scelerisque.
        </p>

    </div>

</div>