<% if user_signed_in? %>
<%= render 'layouts/navbar1' %>
<% else %>
<%= render 'layouts/navbar' %>
<%end%>

<p id="notice"><%= notice %></p>

<div class="text-center">
<img src="https://i.imgur.com/7kXikvT.jpg" title="source: imgur.com" />
</div>

