<% if user_signed_in? %>
<%= render 'layouts/navbar1' %>
<% else %>
<%= render 'layouts/navbar' %>
<%end%>

<div style = "text-align:center;">

<h1>New Offer</h1>

<%= render 'form', offer: @offer %>

<%= link_to 'Back', listings_path %>
</div>
