<div style = 'text-align: center;'>

    <% @offers.each do |offer| %>
        
        <%if offer.user == current_user%>
        <p><%= offer.product.name %> from <%= offer.product.user.email %> to exchange with your <%= offer.trade_item %></p>
        <%end%>
    <%end%>

</div>
